<div class='intro'>
	<h1 class='intro__hed'>{{prose.title}}</h1>
	<time class='intro__time'>Sept 2019</time>
	<div class="text-section">
		{{#each prose.introSection}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
	<h3 class='section__hed'>{{prose.doingHed}}</h3>
	<div class="text-section">
		{{#each prose.doingSection}}
			{{#ifEquals type 'bullet'}}
				<li>{{{value}}}</li>
			{{/ifEquals}}
			{{#ifEquals type 'text'}}
				<p>{{{value}}}</p>
				{{/ifEquals}}
		{{/each}}
	</div>
	<h3 class='section__hed'>{{prose.aboutHed}}</h3>
	<div class="text-section">

		{{#each prose.aboutSection}}
			{{#ifEquals type 'bullet'}}
				<li>{{{value}}}</li>
			{{/ifEquals}}
			{{#ifEquals type 'text'}}
				<p>{{{value}}}</p>
				{{/ifEquals}}
		{{/each}}
	</div>

	<h3 class='section__hed'>{{prose.usHed}}</h3>
	<div class="text-section">

		{{#each prose.usSection}}
			{{#ifEquals type 'bullet'}}
				<li>{{{value}}}</li>
			{{/ifEquals}}
			{{#ifEquals type 'text'}}
				<p>{{{value}}}</p>
				{{/ifEquals}}
		{{/each}}
	</div>

	<h3 class='section__hed'>{{prose.compHed}}</h3>
	<div class="text-section">

		{{#each prose.compensationSection}}
			{{#ifEquals type 'bullet'}}
				<li>{{{value}}}</li>
			{{/ifEquals}}
			{{#ifEquals type 'text'}}
				<p>{{{value}}}</p>
				{{/ifEquals}}
		{{/each}}
	</div>

</div>
